body {
    margin: 0;
    padding: 0;
    background-color: #F4FFF4;
}

h1  {
    font-family: "Orelega One", serif;
    color: #483F3F;
    font-size: 60px;
    margin-left: 2%;
}

p.instructions {

    margin-left: 20px;
}
p.ingredients {
    margin-left: 20px;
}