body {
    margin: 0;
    padding: 0;
    background-color: #F4FFF4;
    align-items: center;
}

h1  {
    font-family: "Orelega One", serif;
    color: #483F3F;
    font-size: 60px;
    margin-left: 2%;
}
h2 {
    font-family: "Orelega One", serif;
    color: #7ac27d;
    font-size: 60px;
    margin-left: 2%;
}

p.instructions {

    margin-left: 30px;
    font-family: "Orelega One", serif;
    font-size: 20px;
    color: #483F3F;


}
p.ingredients {
    margin-left: 30px;
    font-family: "Orelega One", serif;
    font-size: 20px;
    color: #483F3F;


    

}
.button {
    z-index: 2;
    border-radius: 80px;
    background-color: #7ac27d; 
    padding: 20px 60px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 35px;
    font-family: "Orelega One", serif;
    margin-left: 2%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.button1 {
    z-index: 2;
    border-radius: 80px;
    background-color: #7ac27d; 
    padding: 20px 60px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 35px;
    font-family: "Orelega One", serif;
    margin-left: 2%;
    position: absolute;
    top: 110px;
    right: 20px;
}

.container {
    align-items: center;
}