@media only screen and (min-width: 844px) and (orientation: portrait) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Patua One', sans-serif; /* Set font family */
    }

    img {
        width: 100%;
        height: auto;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        display: flex;
        flex-direction: column; /* Arrange buttons vertically */
        justify-content: center;
        align-items: center;
        height: 40vh; /* Set container height to fill the viewport */
        margin-top: 75%; /* Adjust margin-top to move buttons up */
        position: relative; /* Ensure the container is positioned relative to the body */
        background-color: #ffffff; 
        width: 700px;
        padding: 40px 90px;
        border-radius: 150px;
        margin-left: 5%;

    }

    .button {
        width: 750px;
        padding: 90px 100px;
        margin: 30px;
        border: none;
        border-radius: 300px; /* Set border-radius to give curved edges */
        background-color: #D0F9D0; /* Change to desired background color */
        color: #483F3F; /* Set text color */
        font-size: 50px;
        cursor: pointer;
        font-family:  "Open Sans", sans-serif;
        ;
    }
}