<!DOCTYPE html>
<html>
<head>
    <title>Fridgify</title>
    <link rel="stylesheet" href="./static/addphoto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <img src="background.png" class="background-image">
    <div class="container">
        <button class="button">TAKE A PHOTO</button>
        <button class="button">TYPE IT OUT</button>
    </div>
</body>
</html>