<!DOCTYPE html>
<html>
    <head>
        <title>Fridgify</title>
        <link rel="stylesheet" href="homedesktop.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Embrace the <span style="color: #A3B985;">Chill</span>: From Fridge to Feast!</h1>
        <a href="logindesktop.html">
            <button id="signin">Start Scanning!</button>
        </a>
    </body>
</html>