<!DOCTYPE html>
<html>
<head>
    <title>Fridgify</title>    
    <link rel="stylesheet" href="../static/ingredients.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{name}}</h1> 
    <h2>Ingredients</h2>
    <p class="ingredients" style="white-space: pre-line">{{ingr}}</p>
    <h2>Instructions</h2>
    <p class="instructions" style="white-space: pre-line">{{instr}}</p>   
    <div class="container">
        <a href="{{ url_for('next_instr', recipe=name) }}" >
            <button class="button">Play It Out</button>
        </a>
        <a href="{{ url_for('recipe_back') }}" >
            <button class="button">Back to Recipies</button>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
